# Автоматическое определение типов файлов
* text=auto

# Исходный код
*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Скрипты
*.sh text eol=lf
*.cmd text eol=crlf
*.bat text eol=crlf

# Бинарные файлы
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary
